@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.card {
  position: relative;
  width: 100%;
  height: 320px;
  background: #165baa;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #0b1354;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 0;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.card .contentBox .price {
  font-size: 12px;
  color: white;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  width: 80%;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px deeppink);
}

.product-name{
  white-space:nowrap;
  /* width: -moz-fit-content; */
  /* width: min-content; */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}