.navbar-main {
    background-color: deeppink;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-1 {
    height: 30px;
    font-size: 12px;
    align-content: flex-start;
  }
  
  .navbar-space {
    flex-grow: 1;
    align-content: flex-start;
  }
  
  .navbar-2 {
    background-color: deeppink;
    height: 30px;
    font-size: 12px;
    align-items: center;
  }
  
  .navbar-second {
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  
  .navbar-3 {
    align-content: flex-start;
  }
  
  .navbar-search {
    flex-grow: 0.75;
    align-content: flex-start;
  }
  
  .navbar-4 {
    align-content: flex-start;
    flex-grow: 1;
  }